<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <!--MVC5框架参数不要修改-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="dbconn" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=db01.tech.jojojr.cn)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=jojodaid)));User Id=jojojr;Password=jojojr;Pooling = true;Min Pool Size = 1;Max Pool Size = 30;Connection Lifetime = 60;" />
    <add key="mongodb" value="mongodb://jojo:jojo@192.168.0.11/jojo"/>
    <!--DebugMode下顯示的ErrorMsg為exception的堆棧信息，方便開發調試，上線后請改為false-->
    <add key="DebugMode" value="true"/>
    <!--机器码-->
    <add key="Machine_No" value="1"/>
    <!--每页显示笔数-->
    <add key="Count_per_Page" value="5"/>
    <!--Host Js的根路径-->
    <add key="HostJs_Path" value="C:/work/HostJs/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="20971520" />
    <sessionState mode="InProc" cookieless="false" timeout="15" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear/>
        <!-- removes the existing default document list -->
        <add value="index.htm"/>
      </files>
    </defaultDocument>
    <webSocket receiveBufferLimit="20971520" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!--JoJo.Frame处理器-->
      <add name="GoHandle" verb="*" path="*.go" type="Builder.Web.Handler.GoHandler" />
      <add name="HostHandler" verb="*" path="*.hgo" type="Builder.Web.Handler.HostHandler" />
      <add name="WeixinHandler" verb="*" path="*.wx" type="Builder.Web.Handler.WeixinHandler" />
      <add name="WeixinHostHandler" verb="*" path="*.hwx" type="Builder.Web.Handler.WeixinHostHandler" />
      <add name="WMvcXHandle" verb="*" path="*.view" type="Builder.Web.Handler.ViewHandler"/>

    </handlers>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
  </system.webServer>
</configuration>
